<html>
<head>
    <title>Hello World</title>
</head>
<body>
{% for category in categories %}
<p>Title: {{ category.title }}</p>
<img src="{% if category.image %} {{ category.image.url }} {% else %} https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png {% endif %}" alt="Not Found">
{% empty %}
<p>Hello World</p>
{% endfor %}
</body>
</html>